<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {

            display: flex;
            align-items: center;
            justify-content: center;
            background: radial-gradient(ellipse at -15% -10%, rgb(91, 211, 247, .7) 10%, rgba(239, 166, 206, 0.18) 40%, rgba(12, 67, 247, 0.28) 100%);
            ;
            height: 100vh;

        }

        .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: rgba(255, 255, 255, 0.402);
            width: 40vw;
            min-width: 300px;
            height: 60vh;
            padding: 1vh 1vw;
            text-align: center;
            box-shadow: 1px 1px 10px rgba(12, 67, 247, 0.28) ;
            border-radius: 20px ;

            h1 {
                font-size: 4rem;
                /* padding-top: 8vh; */
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                background-image: url("https://images.unsplash.com/photo-1541701494587-cb58502866ab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

            }
            form{
                display: flex;
                /* align-items: start; */
                justify-content: center;
                flex-direction: column;
                padding: 3vh 2vw;
                .label{
                    padding: 1vh 0;
                    font-size: 1.1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                }
            }


        }
        input{
            outline: none;
                border: none;
                width: 25vw;
                min-width: 180px;
                box-shadow: 5px -5px 100px rgb(1, 128, 205);
                border-radius: 20px;
                background: rgba(255, 255, 255, 0);
                color: rgb(1, 128, 205);
                padding: .3rem;
                padding-left: .75rem;
                font-size: 1rem;

        }
        .signup-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            button{
                font-size: 1.2rem;
                color: white;
                background-color: rgb(1, 137, 207);
                padding: .65rem 2.5rem;
                border: none;
                border-radius: 20px 0px 20px 0px;
                transition: border-radius .5s, box-shadow .5s;
            }
            button:hover{
                border-radius: 0px 20px 0px 20px;
                box-shadow: 5px 10px 20px rgb(255, 0, 34);
            }
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
   <div class="main">
    <h1>Sign Up</h1>
   <form action="/user" method="post">
    <div class="label">
        <label>Full name</label>
    <input type="text" required name="name" placeholder="fullname">
    </div>
    <div class="label">
        <label>Email</label>
    <input type="text" required name="email" placeholder="email">
    </div>
    <div class="label">
        <label>Password</label>
    <input type="text" required name="password" placeholder="password">
    </div>
    <div class="signup-btn">
        <button type="submit">SignUp</button>
    </div>
   </form>
   </div>
</body>
</html>